/* --------- Defaults ---------*/

body, ul, li, img, p, h1, h2, h3, h4, h5, h6, hr {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
li {
    list-style-type: none;
    padding: 0 10px;
}
a, i {
    text-decoration: none;
    color: #888;
    font-size: 13px;
}
a:hover {
    text-decoration: underline;
}

/* --------- Header --------- */

header {
    display: flex;
    height: 10vh;
}
header a {
    color: #333;
}
header  ul {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
}

/* --------- Main ------- */

section {
    height: 75vh;
}

/* -------- Google Image ------- */
.image_container {
    display: flex;
    justify-content: center;

}
.image_container img{
    width: 100%;
    max-width: 271px;
    padding-top: 109px; 
}
.image_container span {
    color: #4285f4;
    margin-left: -50px;
    align-self: flex-end;
    font-size: 16px;
}
/* ------  Search Bar ----------*/
.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar input {
    outline: none;
    font-size: 16px;
    width: 400px;
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding-left: 50px;
    margin: 30px 0;
}
.search_bar > input:hover {
    box-shadow: 0 0 5px  rgba(0,0,0, 0.2);
}
.search_bar i {
    width: 50px;
    position: relative;
    left: 68px;
}
/* ------------ Search Buttons --------*/

.search_buttons {
    display: flex;
    justify-content: center;
}
.search_buttons input {
    color: #5F6368;
    border: 1px solid #f2f2f2;
    margin: 11px 4px;
    padding: 0 16px;   
    line-height: 27px;
    height: 36px;
    cursor: pointer;
    border-radius: 5px;
}

.search_buttons > input:hover {
    color: #222;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px rgba(0,0,0, 0.2);
}

p {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}

/* ------------ Footer -------- */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer1, .footer2 {
    background: #f7f7f7;
    padding: 20px 1.5em;
    
}
.footer1 {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.footer1  ul {
    display: flex;
    align-items: center;
}
.footer2  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}






