/* --------- Defaults ---------*/

body, ul, li, img, p, h1, h2, h3, h4, h5, h6, hr {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
li {
    list-style-type: none;
    padding: 0 10px;
}
a, i {
    text-decoration: none;
    color: #888;
}

/* --------- Header --------- */

header {
    display: flex;
    height: 10vh;
}

header  ul {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

/* --------- Main ------- */

section {
    height: 75vh;
}
.image_container {
    display: flex;
    justify-content: center;

}
.image_container img{
    width: 100%;
    max-width: 271px;
    padding-top: 109px; 
}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar input {
    outline: none;
    font-size: 16px;
    width: 484px;
    height: 37px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-left: 50px;
}
.search_bar i {
    width: 50px;
    position: absolute;
    left: 385px;
}

.search_buttons {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}

/* ------------ Footer -------- */

.footer1, .footer2 {
    background: #f7f7f7;
    padding: 20px 1.5em;
    
}
.footer1  ul {
    display: flex;
}
.footer2  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}






